
#editor
{
    width: 50%; 
    padding-top: 5%;
}

#editorMenu
{
    margin-top: 10%; 
    width: 25%; 
    text-align: center; 
    float: left;
}

#editorCanvasDiv
{
    width: 75%; 
    text-align: center; 
    float: right;
}

#editorAddObjectMenu
{
    margin-top: 1%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: -8%; 
    display: block-inline; 
    width: 55%; 
}
