#editor
{
    width: 70%;
    padding-top: 3%;
}

#editorMenu
{
    text-align: center; 
}

#editorCanvasDiv
{
    text-align: center; 
}

#editorAddObjectMenu
{
    margin-top: -0.4em; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 0.5em; 
    display: block-inline; 
    width: 75%; 
}

.pure-menu li:hover 
{ 
    cursor : pointer; 
}

.pure-button
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.header
{
    font-weight: 300;
    font-size: 1.2em;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
}
